body {
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: rgba(240, 240, 240, 0.575);
}

table {
    width: 60%;
    border-collapse: collapse;
    border: 3px solid rgb(0, 0, 0);
  }



  td,th,tr {
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
  }


#tableid {
    right: -50;
    border-collapse: collapse;
    border: 3px solid rgb(0, 0, 0);
    width: 20%;
    float:left;

}

  p {
      width: 100%;
  }

